/******************************************************************************/
@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-icons/styles/material.css";
@import "~@syncfusion/ej2-vue-barcode-generator/styles/material.css";
/******************************************************************************/

.print-mdf-1 {
	background:white;
	height: 380px;
	width: 389px;
	padding: 0px 7px 0px 3px;
	margin: 0px 0px 0px 0px;
	// border: 1px solid red;
}
.textdiv {
	z-index: 11;
	// border: 1px solid red;
}
/******************************************************************************/
/*오토라벨러 라벨 형식*/
.print-autolabeller {
	// height: 374px;
	height: 748px;
	width: 522px;
}
.print-autolabeller1 {
	height: 374px;
	// height: 748px;
	width: 522px;
	page-break-after: always;
}
.print-autolabeller2 {
	height: 374px;
	// height: 748px;
	width: 522px;
	page-break-after: always;
}
.print-al-content {
	// background:yellow;
	padding: 10px 10px 10px 7px;
	// margin: 0px 0px 0px 0px;
	// border: 1px solid black;
	label{
		text-align: center;
		padding: 0px 0px 0px 0px;
		font-weight: bold;
		border: transparent;
		// border: 1px solid red;
	}
	input{
		padding: 0px 0px 0px 5px;
		font-weight: bold;
		border: transparent;
		// border: 1px solid red;
	}
}
.div-close{
	background-color: white;
	padding: 1px 1px 1px 1px;
	border: 1px solid black;
}
.div-center{
	background-color: white;
	padding: 1px 1px 1px 1px;

	border-top: 1px solid black;
	border-right: 1px solid black;
	// border-bottom: 1px solid black;
	border-left: 1px solid black;
}
/******************************************************************************/
/*세로선*/
.print-line{
	width: 1px;
	height: 100px;
	border-left: 1px solid black;
	position: fixed;
	z-index: 60; //div를 최상위로 올린다.
}
.print-line-v-1{
	width: 1px;
	height: 52px;
	border-left: 1px solid black;
	margin: -1px 0px -1px 0px;
	z-index: 60; //div를 최상위로 올린다.
}
.print-line-v-2{
	width: 1px;
	height: 39px;
	border-left: 1px solid black;
	margin: -1px 0px -1px 0px;
	z-index: 60; //div를 최상위로 올린다.
}
.print-line-v-3{
	width: 1px;
	height: 44px;
	border-left: 1px solid black;
	margin: -1px 0px -1px 0px;
	z-index: 60; //div를 최상위로 올린다.
}
.print-line-v-4{
	width: 1px;
	height: 107px;
	border-left: 1px solid black;
	margin: -1px 0px -1px 0px;
	z-index: 60; //div를 최상위로 올린다.
}
.print-line-v-5{
	width: 1px;
	height: 75px;
	border-left: 1px solid black;
	margin: -1px 0px -1px 0px;
	z-index: 60; //div를 최상위로 올린다.
}
/******************************************************************************/
/* 화면 분할*/
.al-left-box {
	background:white;
	float: left;
	width: 80%;
	overflow: hidden;
}
.al-right-box {
	background:transparent;
	float: right;
	width: 20%;
	overflow: hidden;
}
/******************************************************************************/
/*바코드*/
.bardiv-normal {
	background:transparent;
	height: 60px;
	width: 400px;
	z-index: 51;
	// border: 1px solid red;
}
.bardiv-rotation-90 {
	background:transparent;
	height: 60px;
	width: 400px;
	transform: rotate(90deg);
	z-index: 51;
	// border: 1px solid red;
}
.bardiv-dataMatrix {
	background:transparent;
	z-index: 51;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	// border: 1px solid red;
}
/******************************************************************************/
.print-test{
	position: fixed;
	top:100px;
	left:100px;
	background: white;
	z-index:100;
	border: 1px solid red;
}
.print-test-border{
	border: 1px solid red;
}
/******************************************************************************/